body { padding: 0; margin: 0; background: #1a1a1a }
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { position: fixed; width: 100dvw; height: 100dvh; }
#unity-canvas { display: block; width: 100dvw; height: 100%; max-height: 100dvh; background: #1a1a1a }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: column; }
#unity-logo { width: 256px; height: 256px; background: url('taor-logo-full.jpg') no-repeat center; background-size: contain; }
/*#unity-progress-bar-empty { width: 256px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat left }*/
/*#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat left }*/
#unity-progress-bar-empty { width: 256px; height: 256px; margin-top: 10px; background: url('taor-logo.jpg') no-repeat left; background-size: contain; }
#unity-progress-bar-full { opacity: 0%; width: 100%; height: 100%; background: url('taor-logo-full.jpg') no-repeat left; background-size: contain; }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-logo-title-footer { float:left; width: 102px; height: 38px; background: url('unity-logo-title-footer.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
#portrait-overlay {
    background: black;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center; 
    color: white;
    display: flex;
    flex-direction: column;
}
@media (orientation: landscape) {
    #unity-container { display: flex; }
    #portrait-overlay { display: none; }
}
@media (orientation: portrait) {
    #unity-container { display: none; }
    #portrait-overlay { display: flex; } 
}
